fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
PyJWT
python-dotenv
numpy==1.26.4
opencv-python==4.6.0.66
paddlepaddle==2.6.2
paddleocr==2.7.0.3
pymupdf
shapely
pyclipper
lmdb
tqdm
pyyaml
python-docx
fonttools
python-Levenshtein
rapidfuzz
beautifulsoup4
fire
requests
premailer
openpyxl
cython
attrdict3
scikit-image
groq
supabase
reportlab
pillow
